<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToChat()">
        <ion-icon name="chatbubble-ellipses-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="center-title">Home</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goToAccount()">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content">
    <p>Lessons!</p>
  </div>
</ion-content>
