<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/sign-in"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="logo-container">
      <ion-icon name="person-add-outline" size="large"></ion-icon>
      <h2>Join Language Learning</h2>
    </div>

    <div class="form-container">
      <ion-item class="custom-item">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="username" class="custom-input"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" class="custom-input"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" class="custom-input"></ion-input>
      </ion-item>

      <ion-button expand="block" class="register-button" (click)="register()">
        Create Account
      </ion-button>

      <div class="terms">
        <p>By creating an account, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>
      </div>
    </div>
  </div>
</ion-content>
