<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ friendUsername }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container">
    <div *ngFor="let message of messages" 
         [class]="isMessageFromCurrentUser(message) ? 'message-right' : 'message-left'">
      <div class="message-wrapper">
        <div class="message-content">
          <p class="message-text">{{ message.message }}</p>
          <div class="message-time">{{ message.time }}</div>
        </div>
        <ion-button *ngIf="isMessageFromCurrentUser(message)" 
                    fill="clear"
                    color="danger"
                    size="small"
                    class="delete-button"
                    (click)="deleteMessage(message)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-input 
        [(ngModel)]="newMessage" 
        placeholder="Message"
        (keyup.enter)="sendMessage()"
      ></ion-input>
      <ion-button slot="end" (click)="sendMessage()">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer> 